@{
    Layout = null;
}
<link href="~/css/Rating.css" rel="stylesheet" />
<h1 class="rank pizza-text">Award your locaλ-e in pizza slices!</h1>
<ul class="rank">
    <li id="pizza1"></li>
    <li id="pizza2" value="2"></li>
    <li id="pizza3" value="3"></li>
    <li id="pizza4" value="4"></li>
    <li id="pizza5" value="5"></li>
</ul>
<textarea id="pizzatext" class="rank" maxlength="150" placeholder="Why not leave a message here? ;)"></textarea>
<br>
<button class="btn btn-outline-secondary" id="send-pizza" type="submit">Serve pizza</button>

@section Scripts{ 

<script src="~/js/rating.js"></script>
    }