<div class="container-fluid reviews text-shadow">
    <h2>Reviews</h2>
    <div class="reviews-content">
        <div class="">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Rank</th>
                        <th>Comments</th>
                        <th>Review by</th>
                    </tr>
                    <tr>

                        <td colspan="3">
                            No reviews,yet! 
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



