<div class="container-fluid reviews">
    <h2>Reviews</h2>
    <div class="reviews-content">
        <div class="">
            <table class="table table-striped">
                <tbody class=" text-shadow">
                    <tr>
                        <th>Rank</th>
                        <th>Comments</th>
                        <th>Review by</th>
                    </tr>
                    <tr>

                        <td colspan="3" class="text-white">
                            No reviews,yet! Ask this λόcal-e something about his area and be the first to rate!
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>