@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles{ 

<meta name="viewport" content="height=device-height, initial-scale=1.0">
}

@*<div class="background-image"></div>*@
<div class="row no-margin-sides">
    <div class="col-md-12">
        <div class="container login-panel text-center">
            <div class="login-container">
                <h2>@ViewData["Title"]</h2>
                <h4>Enter your email.</h4>
                <hr />
                
                        <form asp-action="ForgotPassword" method="post">
                     
                            <div class="form-group form-padding">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control form-viz" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn my-btn-black">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
