@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="background-image"></div>

<div class="row">
    <div class="col-md-12">
        <div class="container login-panel text-center">
            <div class="login-container">
                <h2>@ViewData["Title"]</h2>
                <p class="fpc">
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>